<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>My Bets</title>
</head>

<body>
<h1>User Homepage</h1>
<table style="width:100%">
<tr>
	<th>Date</th>
	<th>Team bet on</th>
	<th>The Opponent</th>
	<th>Type of Bet</th>
	<th>Amount Bet</th>
</tr>
<tr>
	<td>{{ date }}</td>
	<td>{{ chosenTeamName }}</td>
	<td>{{ otherTeamName }}</td>
	<td>{{ bettype }}</td>
	<td>{{ amountbet }}</td>
</tr>
</table>


</body>

</html>
