<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>My Bets</title>
</head>

<body>
<h1> {{ username }} Homepage</h1>

<br>
<h2>Pending Bets</h2>
<table style="width:100%">
<tr>
	<th>Date</th>
	<th>Team bet on</th>
	<th>Type of Bet</th>
	<th>Amount Bet</th>
</tr>
{% for (date, team_id, bet_type, risk) in current_bet_list %}
<tr>
	<td>{{ date }}</td>
	<td>{{ team_id }}</td>
	<td>{{ bet_type }}</td>
	<td>{{ risk }}</td>
</tr>
{% endfor %}
</table>

<br>
<h2>Past Bets</h2>
<table style="width:100%">
<tr>
	<th>Date</th>
	<th>Team bet on</th>
	<th>Type of Bet</th>
	<th>Amount Bet</th>
	<th>Payout</th>
</tr>
{% for (date, team_id, bet_type, risk, payout) in past_bet_list %}
<tr>
	<td>{{ date }}</td>
	<td>{{ team_id }}</td>
	<td>{{ bet_type }}</td>
	<td>{{ risk }}</td>
	<td>{{ payout }}</td>
</tr>
{% endfor %}
</table>


</body>

</html>
